<%= render "shared/navbar"%>
<%= turbo_stream_from @chatroom %>
<div class="container">
  <h1><%= @chatroom.name %></h1>
  <div data-controller="chatroom" class="chatbox" id="<%= dom_id(@chatroom, :messages)%>">
    <%= render @messages%>
  </div>

  <%= form_with model: [@chatroom, @message], class: "new-message" do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Send", class: "submit-message"%>
  <% end %>

</div>
