<%= render "shared/navbar"%>
<div class="container">
  <h1><%= @chatroom.name %></h1>
  <div class="chatbox">
    <% @messages.each do |message| %>
      <% if message.user == Current.user %>
            <div class="message-cloud">
      <% else %>
          <div class="message-cloud-others">
      <% end %>
      <div class="author"><%= message.user.email_address%> － <%= time_ago_in_words(message.created_at) %> ago</div>
      <%= message.body %>
      </div>
    <% end%>
  </div>

  <%= form_with model: [@chatroom, @message], class: "new-message" do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Send", class: "submit-message"%>
  <% end %>

</div>
