<%= render "shared/navbar"%>
<%= turbo_stream_from @chatroom %>
<div class="container" data-controller="chatroom" >
  <h1><%= @chatroom.name %></h1>
  <div class="chatbox" id="<%= dom_id(@chatroom, :messages)%>">
    <%= render @messages%>
  </div>
  <%= form_with model: [@chatroom, @message], class: "new-message" do |form| %>
    <%= form.text_area :body, data: {"chatroom-target": "message", "action": "input->chatroom#update"}%>
    <%= form.submit "Send", data: {"chatroom-target": "submit"},  class: "submit-message"%>
  <% end %>
     <p data-chatroom-target="characters">  </p>
     <audio id="message-sound" hidden src="<%= audio_path("message.mp3")%>"></audio>
</div>
